<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>山の上不動産</title>
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <header>
    <h1><img src="images/logo.svg"></h1>
  </header>

  <main id="app">
    <div class="inner">

      <div class="search">
        <div class="count">検索結果:<span>{{ filteredList.length }}件</span></div>

        <div class="target">
          <label><input type="checkbox" v-model="showNewItem">新着物件</label>
        </div>

        <div class="sort">
          <label for="sort">並び替え</label>
          <select id="sort" class="sorting" v-model.number="sortOder">
            <option value="1">おすすめ順</option>
            <option value="2">価格が安い順</option>
            <option value="3">価格が高い順</option>
            <option value="4">土地面積が多い順</option>
          </select>
        </div>
      </div>

      <div class="property">
        <ul>
          <li v-for="product in filteredList" v-bind:key="product.id">

            <!--新着アイコン-->
            <template v-if="product.isNew">
              <div class="icon">新着</div>
            </template>

            <!--物件情報-->
            <a href="#"><img v-bind:src="product.image"></a>
            <h2>{{ product.name }}</h2>
            <div class="price"><span>価格</span>{{ product.price | number_format }}万円</div>
            <div class="address"><span>所在地</span>{{ product.address }}</div>
            <div class="traffic"><span>交通</span>{{ product.traffic }}</div>
            <div class="area"><span>土地面積</span>{{ product.area | number_format }}坪</div>
            <div class="floor"><span>間取り</span>{{ product.floor }}</div>

            <!--詳細を見るボタン-->
            <button class="more"><a href="#">詳細を見る</a></button>
            
            <div class="two-button">

              <!--お問い合わせボタン-->
              <button class="contact" v-on:click="show=!show">お問い合わせ</button>

              <!--お気に入りボタン-->
              <button class="favorite" v-on:click="product.favorited = !product.favorited"
               v-bind:class="[{ 'saved' : product.favorited }]">お気に入り</button>

            </div>
          </li>

        </ul>
      </div>
    </div>

    <!--モーダル-->
    <div class="modal_bg" v-if="show" v-cloak>
      <div class="modal_box">

        <form action="" method="post">
          <fieldset>
            <p class="label">お名前</p>
            <input type="text" placeholder="【例】山田太郎" v-model="name">
            <errors :errors="errors.name"></errors>

            <p class="label">メールアドレス</p>
            <input type="email" placeholder="【例】yamada@email.co.jp" v-model="mail">
            <errors :errors="errors.mail"></errors>

            <p class="label">電話番号</p>
            <input type="tel" placeholder="【例】09012345678" v-model="tel">
            <errors :errors="errors.tel"></errors>

            <p class="label">お問い合わせ内容</p>
            <textarea v-model="inquiry"></textarea>
            <errors :errors="errors.inquiry"></errors>

            <input type="submit" value="送信" class="submit" @click.prevent="validate">
            <button class="close" v-on:click="show=!show">このウインドウを閉じる</button>
          </fieldset>
        </form>
      </div>
    </div>
    <!--/モーダル-->

  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>

</html>